extends template
block link
    link(rel="stylesheet", href="css/blocks-style.css")
block content
    div.container
        div.box-1 1
        div.box-2 2
        div.box-3 3
        div.box-4 4
        div.box-5 5
        div.box-6 6